@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-primary: #2563EB;
  --color-accent: #22D3EE;
  --color-background-app: #0F172A;
  --color-card: #020617;
  --color-status-good: #22C55E;
  --color-status-moderate: #EAB308;
  --color-status-unhealthy: #F97316;
  --color-status-danger: #EF4444;
  --color-text-primary: #F8FAFC;
  --color-text-secondary: #94A3B8;
}

/* Custom Utilities for gradients and specific mobile styles if needed */
@utility text-gradient {
  @apply bg-clip-text text-transparent bg-linear-to-r from-accent to-primary;
}

/* DaisyUI Config */
:root {
  --background: #0F172A;
  --foreground: #F8FAFC;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}