@import 'tailwindcss';
@plugin 'daisyui';

@theme {
  --color-primary: #2563eb;
  --color-accent: #22d3ee;
  --color-background-app: #0f172a;
  --color-card: #020617;
  --color-status-good: #22c55e;
  --color-status-moderate: #eab308;
  --color-status-unhealthy: #f97316;
  --color-status-danger: #ef4444;
  --color-text-primary: #f8fafc;
  --color-text-secondary: #94a3b8;
}

/* Custom Utilities for gradients and specific mobile styles if needed */
@utility text-gradient {
  @apply from-accent to-primary bg-linear-to-r bg-clip-text text-transparent;
}

/* DaisyUI Config */
:root {
  --background: #0f172a;
  --foreground: #f8fafc;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
