@import "tailwindcss";
@plugin 'daisyui';

:root {
  /* Light Mode Defaults */
  --color-primary: #2563eb;
  --color-accent: #06b6d4;
  --color-background-app: #f8fafc;
  --color-card: #ffffff;
  --color-text-primary: #0f172a;
  --color-text-secondary: #64748b;

  --color-status-good: #22c55e;
  --color-status-moderate: #eab308;
  --color-status-unhealthy: #f97316;
  --color-status-danger: #ef4444;
}

[data-theme="dark"] {
  /* Dark Mode Overrides */
  --color-primary: #3b82f6;
  --color-accent: #22d3ee;
  --color-background-app: #0f172a;
  --color-card: #1e293b;
  --color-text-primary: #f8fafc;
  --color-text-secondary: #94a3b8;
}

@theme {
  --color-primary: var(--color-primary);
  --color-accent: var(--color-accent);
  --color-background-app: var(--color-background-app);
  --color-card: var(--color-card);
  --color-status-good: var(--color-status-good);
  --color-status-moderate: var(--color-status-moderate);
  --color-status-unhealthy: var(--color-status-unhealthy);
  --color-status-danger: var(--color-status-danger);
  --color-text-primary: var(--color-text-primary);
  --color-text-secondary: var(--color-text-secondary);
}

/* Custom Utilities */
@utility text-gradient {
  @apply from-accent to-primary bg-linear-to-r bg-clip-text text-transparent;
}

body {
  background-color: var(--color-background-app);
  color: var(--color-text-primary);
  font-family: Arial, Helvetica, sans-serif;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
